* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #222;
    font-family: 'Josefin Sans';
}

body {
    background-color: #e3e3e3;
}

h1 {
    font-size: 2rem;
    padding: 0.5rem 0;
}

h2 {
    padding: 1.5rem 0 0.5rem;
}

h3 {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

hr {
    margin: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

p {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
}

.resume {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-gap: 3rem;
    padding: 1.5rem;
    padding-right: 3rem;
    margin: auto;
    max-width: 1200px;
    background-color: #ffffff;

}

.left_column {
    background-color: #1b6392;
    color: #ffffff;
    padding: 3rem;
    padding-left: 4rem;
}

.left_column h2 {
    font-size: 1.4rem;
}

.right_column {
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 0;
}

.right_column h2 {
    color: #1b6392;
    font-size: 1.5rem;
}

.introduction {
    text-align: center;
}

.introduction img {
    border-radius: 1000rem;
    background-color: #ffffff;
    padding: 0.3rem;
}

.mode ul {
    font-style: italic;
    color: red;
}

.work li {
    list-style-type: disc;
}

.experience p {
    color: grey;
}

.education p {
    color: grey;
}

.certificates {
    font-weight: bold;
}